.popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 901;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    color: $white;
    opacity: 0;
    transition: all 0.3s ease 0s;
    pointer-events: none;

    &__body {
        position: relative;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 30px 10px;
        width: 80%;
        min-height: 100%;
    }

    &__content {
        overflow-y: scroll;
        border-radius: 8px;
        padding: 64px;
        width: 100%;
        max-height: calc(100vh - 60px);
        box-shadow: 0 0 16px 0 rgba(117 70 247 / 35%);
        color: $white;
        background-color: $grey;

        h4 {
            margin-bottom: 12px;
        }

        p {
            color: #EDEDED;
        }

        video {
            width: 100%;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__text {
        margin-bottom: 12px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;

        &[data-popup="holdMyCode"] {
            svg {
                max-height: 40px;
            }
        }

        &[data-popup="wine"] {
            svg {
                max-height: 75px;
            }
        }

        &[data-popup="calendar"] {
            svg {
                max-width: 250px;
                max-height: 65px;
            }
        }

        &[data-popup="minimalism"] {
            margin-bottom: 24px;

            svg {
                max-height: 50px;
            }
        }

        &[data-popup="food"] {
            svg {
                max-width: 210px;
                max-height: 50px;
            }
        }

        &[data-popup="victorian"] {
            svg {
                max-width: 275px;
                max-height: 125px;
            }
        }

        &[data-popup="nirvana"] {
            img {
                max-width: 305px;
                max-height: 125px;
            }
        }
    }

    &__item {
        margin-bottom: 32px;

        ul {
            list-style-position: inside;

            li:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        &[data-item="last"] {
            margin-bottom: 0;
        }
    }

    &__line {
        margin-bottom: 48px;
        width: 100%;
        height: 2px;
        background-color: #A0A0A0;
    }

    &__twoPicture {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        gap: 12px;

        picture {
            width: 100%;
        }

        img {
            width: 100%;
        }

        &[data-item="last"] {
            margin-bottom: 0;
        }

        &--isColumn {
            flex-direction: column;

            img {
                margin: 0 auto;
            }
        }
    }

    &__close {
        align-self: flex-start;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    &__certificate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 48px;

        h2 {
            margin-bottom: 12px;
            color: $violet;
        }

        p {
            margin-bottom: 12px;
            text-align: center;
            color: $white;
        }
    }

    &__switcher {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 48px;

        svg {
            &:hover {
                transform: rotate(0);
            }
        }

        &-isRight {
            transform: rotate(180deg) !important;
        }

        &[data-popup="0"] {
            justify-content: flex-end;
        }
    }
}

.open {
    opacity: 1;
    pointer-events: all;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $grey;
    opacity: 0.9;
    cursor: pointer;
}

.close {
    width: 32px;
    height: 32px;
}

@media (max-width: 1099px) {
    .popup__grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .popup {
        &__body {
            width: 100%;
        }

        &__content {
            padding: 35px;
        }

        &__certificate {
            padding: 0 48px;
        }

        &__wrapper {
            max-height: 80vh;
        }
    }
}

@media (max-width: 500px) {
    .popup {
        &__content {
            padding: 16px 12px;
        }

        &__switcher {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        &__logo {
            margin-bottom: 24px;

            .logo {
                width: auto;
            }

            &[data-popup="holdMyCode"] {
                .logo {
                    width: 75%;
                }
            }

            &[data-popup="wine"] {
                margin-bottom: 12px;

                .logo {
                    width: 55%;
                }
            }

            &[data-popup="calendar"] {
                .logo {
                    margin-right: 15px;
                }
            }

            &[data-popup="minimalism"] {
                margin-bottom: 0;

                .logo {
                    margin-right: 15px;
                    max-height: 300px;
                }
            }

            &[data-popup="victorian"] {
                margin-bottom: 32px;

                .logo {
                    margin-right: 15px;
                }
            }

            &[data-popup="nirvana"] {
                img {
                    max-width: 305px;
                    max-height: 125px;
                }
            }

            &[data-popup="fourCA"] {
                margin-bottom: 32px;

                .logo {
                    margin-right: 15px;
                    width: auto;
                }
            }
        }

        &__close {
            align-self: flex-start;
        }

        &__twoPicture {
            flex-direction: column;
        }

        &__item {
            margin-bottom: 12px;
        }

        &__line {
            margin-bottom: 24px;
        }
    }
}
