.reviews {
    &__other {
        margin-top: 24px;
        font-style: italic;
        text-align: right;
        color: #CCC;

        a {
            white-space: nowrap;
        }
    }
}

.swiper {
    width: 100%;

    svg {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    &-wrapper {
        align-items: center;
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        p {
            color: #C2C2C2;
        }
    }

    &-left {
        margin-right: 45px;
        width: 129px;

        img {
            width: 100%;
        }
    }

    &-right {
        width: calc(100% - 129px);

        .text20:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &-slide {
        padding-right: calc(32px + 5%);
        padding-left: calc(32px + 5%);
    }

    &--prev {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &--next {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &--pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        width: 100%;

        span {
            border-radius: 8px;
            width: 24px;
            height: 24px;
            background-color: $violet;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .swiper {
        &-header {
            margin-bottom: 20px;
        }

        &-wrapper {
            align-items: flex-start;
        }

        &-inner {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 10px;
        }

        &-slide {
            padding: 0;
        }

        &-left {
            margin-right: 5%;
            margin-bottom: 20px;
            width: 25%;
        }

        &-right {
            width: 100%;
        }

        &--next {
            display: none;
        }

        &--prev {
            display: none;
        }

        &--pagination {
            margin-top: 24px;
        }
    }
}