.reviews {
    margin-top: 110px;

    &__other {
        margin-top: 24px;
    }
}

.swiper {
    margin-top: 24px;
    width: 100%;

    &__toggle {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        p {
            color: #C2C2C2;
        }
    }

    &-left {
        // margin-right: 5%;
        // width: 55%;
        width: 100%;

        .text20:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &-right {
        // width: 45%;
    }

    &--prev {
        margin-right: 20px;
        cursor: pointer;
    }

    &--next {
        cursor: pointer;
    }

    &--pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        width: 100%;

        span {
            border-radius: 8px;
            width: 24px;
            height: 24px;
            background-color: $violet;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}