$container-offset: 84px;
$container320-offset: 12px;
$container1020-offset: 35px;
$container-width: 100vw;
$black: #181818;
$white: #FCF7FF;
$grey: #1F2025;
$violet: #7546F7;
$violet-dark: #462A94;