.title {
    @include adaptiveFont(24, 70);
    @include Cormorant-Regular;
    color: $mainTextColor;
    line-height: 100%;
}

.sub1 {
    font-size: 40px;
    @include Cormorant-Medium;
    color: $mainTextColor;
    line-height: 100%;
}

.sub2 {
    font-size: 32px;
    @include Cormorant-Medium;
    color: $mainTextColor;
    line-height: 100%;
}

.sub3 {
    @include adaptiveFont(18, 24);
    @include Cormorant-Medium;
    color: $mainTextColor;
    line-height: 100%;
}

.body_text {
    font-size: 18px;
    @include OpenSans-Light;
    color: $mainTextColor;
    line-height: 100%;
}

.button_text {
    font-size: 20px;
    @include OpenSans-SemiBold;
    color: $mainTextColor;
    line-height: 100%;
}

.input_text {
    font-size: 20px;
    @include OpenSans-Regular;
    color: $mainTextColor;
    line-height: 100%;
}