.discount {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: $violet;

        h2 {
            text-align: center;
        }

        p {
            width: 50%;
            text-align: center;
        }
    }
}

@media (max-width: 1090px) {
    .discount p {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .discount p {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .discount__wrapper {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}