.stages {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 48px auto 0;
        border-radius: 28px;
        padding: 36px 32px;
        background: rgba(24 24 24 / 50%);
    }

    &__item {
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .h4 {
            margin-bottom: 12px;
            letter-spacing: 1.28px;
            color: #C8B5FC;
        }
    }

    &__relative {
        position: relative;
        margin-bottom: 12px;
        width: 100%;
    }

    &__way {
        display: block;
        margin: 0 auto;

        rect {
            opacity: 0;
        }

        &--isActive {
            rect {
                opacity: 1;
                transition: opacity 0.2s;

                &[data-queue="1"] {
                    transition-delay: 1.4s;
                }

                &[data-queue="2"] {
                    transition-delay: 1.6s;
                }

                &[data-queue="3"] {
                    transition-delay: 1.8s;
                }

                &[data-queue="4"] {
                    transition-delay: 2s;
                }

                &[data-queue="5"] {
                    transition-delay: 2.2s;
                }
            }
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        width: 45%;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.5s;

        &--isLeft {
            left: 0%;
            text-align: right;
        }

        &--isRight {
            right: 0%;
            text-align: left;
        }

        &--isActive {
            opacity: 1;
            transition-delay: 1s;
        }
    }
}