.nav {
    @include adaptiveFont(16, 22, 320, 2560);

    position: fixed;
    left: 0%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 8px 8px 0;
    padding: 31.5px 0 24px;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.3s;

    .h3 {
        padding-left: $container-offset;
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: $container-offset;

        button {
            margin-right: 22px;

            p {
                margin-right: 0;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    &__item {
        margin-right: 24px;
        font-weight: 400;
        color: $white;
        transition: all 0.4s;
        cursor: pointer;

        &:hover {
            color: $violet;
            transition: all 0.4s;
        }
    }

    &__translate {
        position: relative;
        border: 1px solid #333;
        border-radius: 8px;
        padding: 7px 14px;
        width: 80px;
        height: 40px;
        box-shadow: 2px 2px 8px 0 #3333331A;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            height: 110px;
            transition: all 0.3s;

            .nav__lang {
                opacity: 1 !important;
                transition: all 0.3s;

                &[data-position="1"] {
                    top: 7px;
                }

                &[data-position="2"] {
                    top: 43px;
                }

                &[data-position="3"] {
                    top: 79px;
                }
            }
        }
    }

    &__lang {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s;

        &[data-position="1"] {
            top: 7px;
            z-index: 11;
            height: 24px;
            opacity: 1 !important;
        }

        &[data-position="2"] {
            top: 7px;
            z-index: 10;
            height: 24px;
        }

        &[data-position="3"] {
            top: 7px;
            z-index: 9;
            height: 24px;
        }
    }

    &__flag {
        margin-right: 12px;
        width: 22px;
        height: 16px;
    }

    &--isActive {
        background-color: $grey;
    }

    &--isAnimate {
        transform: translateY(0%);
        transition: transform 1s;
        transition-delay: 1200ms;
    }
}

.read-progress {
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: $violet;
    transition: width 0.5s;
    transition-delay: 1500ms;
}