<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li><a id="translate1" class="nav--link sub3" href="">Главная</a></li>
            <li><a class="nav--link sub3" href="">Обо мне</a></li>
            <li><a class="nav--link sub3" href="">Портфолио</a></li>
            <li><a class="nav--link sub3" href="">Контакты</a></li>
        </ul>

        <div class="nav__lang [ js-nav__lang ]">
            <div data-country="1" id="rus" class="nav__lang--country [ js-nav__lang--country ]">
                <svg class="flag">
                  <use xlink:href="img/sprite.svg#rus"></use>
                </svg>
                <p class="sub3">RU</p>
            </div>

            <div data-country="2" id="eng" class="nav__lang--country [ js-nav__lang--country ]">
                <svg class="flag">
                  <use xlink:href="img/sprite.svg#eng"></use>
                </svg>
                <p class="sub3">EN</p>
            </div>

            <div data-country="3" id="ukr" class="nav__lang--country [ js-nav__lang--country ]">
                <svg class="flag">
                  <use xlink:href="img/sprite.svg#ukr"></use>
                </svg>
                <p class="sub3">UA</p>
            </div>
        </div>
    </nav>
</header>