.reasons {
    padding-top: 110px;

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        color: $white;
    }

    &__highlighted {
        color: $violet;
    }

    &__sum {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
        border-radius: 8px;
        padding: 19px 31px;
        width: 90px;
        height: 90px;
        background-color: $violet;
    }
}