html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f3;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.is-hidden {
    display: none !important;
}

.container {
    margin: 0 auto;
    padding: 0 var($container-offset);
    max-width: var($container-width);
}

.centered {
    text-align: center;
}

.view {
    opacity: 1 !important;
}

.return {
    transform: translate(0) !important;
}